<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/certDB</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">A82038203</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>

		<mapping class="com.minkin.Certificate.model.CertificateRegistration"></mapping>
		<mapping class="com.minkin.Certificate.model.RegistrationDate"></mapping>
		<mapping class="com.minkin.Certificate.model.OrganizationRegistration"></mapping>
		<mapping class="com.minkin.Certificate.model.Passport"></mapping>
		<mapping class="com.minkin.Certificate.model.LastName"></mapping>
		<mapping class="com.minkin.Certificate.model.FirstName"></mapping>
		<mapping class="com.minkin.Certificate.model.MiddleName"></mapping>
		<mapping class="com.minkin.Certificate.model.Number"></mapping>
		<mapping class="com.minkin.Certificate.model.Series"></mapping>
		<mapping class="com.minkin.Certificate.model.DateIssue"></mapping>

	</session-factory>
</hibernate-configuration>
